body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow:hidden;
  background-color: rgb(19, 23, 34)!important;
}
.loader-gif{
  background-repeat: no-repeat;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: 60%;
  height: 92%;
  background-image: url("./images/loader.gif");
}
.app-container{
  height: 100vh;
  width: 100%;
  
}
.header-user{
  display: flex;
  justify-content: space-between;
top: 0%;
width: 100%;
height: 8%;
background: linear-gradient(172deg,#747373,#040404)!important;
}
.logo-container{
  display:flex;
}
.logo{
  height: 100%;
  width: 109px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 94%;
  background-image: url(./images/logo.png);
  margin-left: -20px;
}
.title{
  margin-left: 16px;
  font-size: 150%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: 'Permanent Marker', cursive;
  color: #f7931a;
}
.form-row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-form-container{
  font-family: 'Kavivanar', cursive;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  height: 100%;
  width: 333px;
  margin-right: 17px;
}
.form-control{
  display: block;
  width: 82%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
}
.nav-options-bar{

  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 6%;
  
}
.nav-options-bar a{
  width: 100%;
}
.nav-options-bar span{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
   font-size: 25px;
  width: 100%;
  height: 100%;


}
.nav-options-bar span:hover {
  border-bottom: 3px solid rgb(255, 255, 255);
}
.main-coins-container{
    /* margin-top: 7px; */
    padding-top: 12px;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 81%;
    background-color: rgba(2, 2, 2, 0.95);
}
.left-nav{
  background-color: #0b0b0b;
  height: 100%;
  width: 317px;
}
.left-search{
  margin-left: 9px;
  padding-top: 10px;
  padding-left: 2px;

  background-color: rgb(5, 5, 5);

}
.coins-list-container{
  text-align: center;
  margin-top: 10px;
  width: 100%;
  height: 90%;
  overflow-y:scroll;
  overflow-x:hidden;
}
.coin-element-list{
  color: white;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: left;
  justify-content: left;
  height: 10%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  background-color: rgba(200, 200, 200, 0.16);
}

.coin-element-list span{
  cursor: default
}

.cc{
  
  margin-left: 10px;
  margin-right: 10px;
  font-size: 32px;
}

.left-search-container button{
  height: 10px;
}
.left-search-container input{
  color: white;
  width: 155px;
  margin-right: 2px;
}
.custom-select{

      height: calc(2.25rem + -5px);
}
.header-user-image{
 border-radius: 100px;
  background-image: url(https://scontent.xx.fbcdn.net/v/t1.0-1/c1.0.100.100/p100x100/15589506_19324…_2658282152051112693_n.jpg?oh=539470d…&oe=5AEF46DB);
  height:45px;
  width: 45px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}
#facebook-official{
  position: absolute;
  left: 42px;
  font-size: 28px;
}
.user-conected{
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center
}
.footer{
  display: flex;
  justify-content: center;
  color: white;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 5%;
  background: linear-gradient(-180deg,#050505,#040404)!important;
}
.link{

  display: inline-flex;
  justify-content: space-between;
  font-size: 22px;
}
.board-container{
  display: flex;
  margin: 10px;

  width: 100%;

}
.hvr-underline-from-center{
  display: inline-flex;
}

.hvr-pulse-grow{
  display: inline-flex;
}
.card-image{
  display: flex;

  border-radius: 0px;
  /* margin: 10px; */
  background-color:rgb(19, 23, 34)!important;
  width: 415px;

  padding: 0%;
  display: flex;
  justify-content: space-around;
}
.py-5{
  display: flex;
  justify-content: center;
  height: 100%;
}
.btn-blue{
  padding: 8px;
  background-color: #0263b6!important;
}
.btn-red{
  padding: 8px;
  background-color: #eb4d5c!important;
}

.coin-percent-change{

  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.coin-percent-change span{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pink-text {
  color: #0263b6!important;
}
.btn-pink {
  background-color: #0263b6!important;
  color: #fff!important;
}
.form-elegant{
  width: 420px;
}
#logout{
  height: 23px;
  font-size: 15px;
  background-color: #eb4d5c;
}
#logout p{
  user-select: none;
  text-decoration: none;
  cursor: auto;
}
::-webkit-scrollbar {
  width: 4px;
  padding-top: 40px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  background: black;
  border-radius: 10px;
}
.user-image{
  font-size: 30px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 10px;
  width: 4px;
  border: 1px solid black;
  background:black;
  -webkit-box-shadow: 0 1px 1px rgb(0, 0, 0);
  background: -webkit-linear-gradient(rgb(200, 200, 200), rgb(150, 150, 150));
}

::-webkit-scrollbar-track-piece {
  height: 10px;
}